<section class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-phone">
        <div class="footer-phone__num">
          <div class="footer-phone__wrapper">
            <a href="tel:+74951201551" class="phone long">
              <span class="phone-text">+7 (495) 120-15-51</span>
              <span class="phone-delimeter">
              </span>
            </a>
            <a href="tel:+74957967974" class="phone long">
              <span class="phone-text">+7 (495) 796-79-74</span>
              <span class="phone-delimeter">
              </span>
            </a>
          </div>

        </div>
        <div class="footer-phone__num">
          <div class="footer-phone__wrapper">
            Москва, ул. 1-я Боевская, д. 2/12, стр. 4, пом. 1/1
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-info">
        <div class="copyright">
          &copy;&nbsp;2026, Все права защищены <a href="#">Teaboom.ru</a>
        </div>
        <div class="social">
          <a href="https://vk.com/teaboom" target="_blank">
            <img src="./assets/images/soc-vk.png" alt="" />
          </a>
          <a href="https://t.me/Teaboom" target="_blank">
            <img src="./assets/images/soc-tg.png" alt="" />
          </a>
          <a href="https://www.ok.ru/teaboom" target="_blank">
            <img src="./assets/images/soc-ok.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
